[Desktop Entry]
Name=Heresy Editor
GenericName=DOOM Editor
Comment=Edit DOOM maps for BiasedDoom and compatible engines
Exec=heresy %f
Icon=heresy
Terminal=false
Type=Application
Categories=Game;ActionGame;
StartupNotify=false
MimeType=application/x-doom-wad;
Keywords=doom;heretic;hexen;level;map;wad;editor;builder;yadex;
